@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f3f4f5;
  --background: #121212;
}

body {
  color: var(--foreground);
  background: var(--background);
}

img {
  user-select: none;
  pointer-events: none;
}

button {
  background: #ffffff05;
  height: 41px;
  padding-inline: 16px;
  font-size: 18px;
  font-family: "quran-font_react-quran";
  border-radius: 4px;
}
button:disabled {
  opacity: 75%;
}
